<%- include('../admin/partials/head.ejs') -%>


<%- include('../admin/partials/header.ejs') -%>
<div class="d-flex" style="display: flex;">
<div class="hea"><%- include('../admin/partials/nav.ejs') -%></div>
<div class="heavhgnvbn" style="width: 100%;"><br><br><br><br>



<h1>Coupons page under construction</h1>

</div>
</div>
<%- include('../admin/partials/script.ejs') -%>
