<!DOCTYPE html>
<html>
  <head>
    <title>Empty Cart</title>
    <link rel="stylesheet" type="text/css" href="animate.css" />
    <style>
      body {
        background-image: url("https://c1.wallpaperflare.com/preview/421/798/360/basket-business-carts-coins.jpg");
        background-size: cover;
        background-position: center;
      }

      .cart {
        text-align: center;
        margin-top: 150px;
        color: white;
      }

      .cart-image {
        width: 200px;
        height: 200px;
      }

      .cart h1 {
        font-size: 32px;
        font-weight: bold;
        margin-top: 20px;
        color: #2e2626b6;
      }

      .cart p {
        font-size: 18px;
        margin-bottom: 20px;
        color: black;
      }

      .cart-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      .cart-button:hover {
        background-color: #0062cc;
        cursor: pointer;
      }
    </style>
  </head>
  <br /><br /><br /><br />
  <body>
    <div class="cart">
      <!-- <img src="https://c1.wallpaperflare.com/preview/421/798/360/basket-business-carts-coins.jpg" alt="Empty Cart" class="cart-image"> -->
      <h1>Shopping Cart</h1>
      <br />
      <p>Your cart is empty.</p>
      <br />
      <a href="/home">
        <button class="cart-button">Continue Shopping</button>
      </a>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <script src="script.js"></script>
  </body>
</html>
